<%
    function b(){
      return "Chao moi nguoi.";
    }
%>
<h1> Xin chao <%= name %></h1>
<form action="/xulypheptinh" method="post">
  <input type="text" name="pheptinh"/>

  <input type="number" name="soa"/>
  <input type="number" name="sob"/>
  <input type="submit" value="Phep tinh"/>
</form>
